<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guacamole</title>
    <link rel="stylesheet" media="screen" href="../static/bootstrap.min.css">
  </head>

  <body>
    {% extends "base.html" %}
    {% block content %}
	    <h2><center><b>Search results for: {{foodname}}</b></center></h2>

	    <form method="POST" action="/calorie/">
			{% for search_result in fooddata.keys() %}
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{search_result}}</h3>
			  </div>
			  {% for entry in fooddata[search_result].keys() %}
			  	<div class="panel-body">{{entry}}: {{fooddata[search_result][entry]}}</div>
			  {% endfor %}

			  {% if session.user %}
			    	  <button type="submit" class="btn btn-primary btn-lg" name="calories" value={{ fooddata[search_result]["Energy"] }} role="button">Add</button>
			  {% endif %}

			  </div>
			{% endfor %}
		</form>
	{% endblock %}      

  </body>
</html>