<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guacamole</title>
    <link rel="stylesheet" media="screen" href="../static/bootstrap.min.css">
  </head>

  <body>
    {% extends "base.html" %}

    {% block content %}
    <!--JUMBOTRON-->
    <div class="jumbotron">
      <div class="container">
	<h1>I like guac!</h1>
	<p>Avocadoes are nature's miracles</p>
      </div>
    </div>

    <div class="container">
      <p>This is what my website does.</p>
    </div>
    {% endblock %}

  </body>
</html>
