<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guacamole</title>
    <link rel="stylesheet" media="screen" href="../static/bootstrap.min.css">
  </head>

  <body>
    {% extends "base.html" %}
    {% block content %}
    <!-- tabs -->
    {% if update %}
        <div class="alert alert-success" role="alert">
          <span class="sr-only">Update:</span>
            {{ update }}
        </div>
    {% endif %}
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/profile">Profile</a></li>
      <li role="presentation"><a href="/calorie">Calorie Tracker</a></li>
      <li role="presentation"><a href="/update">Update Information</a></li>
    </ul>
    <h3>Basic information</h3><hr>
    Gender: {{gender}}<br>
    Age: {{age}}<br>
    Height: {{height}} inches<br>
    Weight: {{weight}} lbs<br>

    <h3>BMI</h3><hr>
    Value: {{value}}<br>
    Status: {{status}}<br>
    Risks: {{risks}}<br>
    {% endblock %}
  </body>
</html>
